.root {
  height: 100%;
  background-color: #fff;

  :global {
    .publish {
      color: #fc6627;
      font-size: 16px;
    }

    .input-area {
      padding: 15px 16px;
      font-size: 16px;

      &::placeholder {
        font-size: 16px;
      }
      textarea {
        outline: none;
      }
      .at {
        color: #969799;
      }
    }
  }
}
